@import url('reset.css');

* {
    font-family: Arial, '微軟正黑體';
}

body {
    background: #fff;
    letter-spacing: 5px;
    font-family: Arial, '微軟正黑體';
    font-size: 18px;
    line-height: 20px;
}

header {
    padding: 40px 0;
    background: hsl(240, 35%, 50%);
    letter-spacing: 2px;
}

header a {
    color: hsl(0, 100%, 100%);
}

nav {
    position: relative;
    bottom:4px;
    margin-left: 30px;
}

nav, nav ul li {
    display: inline-block;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    bottom: 0;
    clear: both;
    padding: 50px;
    background: #eee;
    color: #888;
    font-size: 15px;
    letter-spacing: 8px;
    text-align: center;
}

a {
    color: hsl(240, 35%, 50%);
    text-decoration: none;
    border-bottom: 1px dotted hsl(240, 35%, 45%);
}

input {
    margin: 10px 0;
}

input[type="submit"] {
    padding: 8px 15px;
    background: hsl(125, 63%, 36%);
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
}

.popup_back, .popup_news {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popup_news {
    display: block;
    margin: auto;
    width: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #999;
}

.popup_news .sure {
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

#title {
    font-size: 25px;
}

#dashboard, #logout {
    position: fixed;
    top: 2%;
    right: 1%;
    padding: 5px;
    background: hsl(240, 35%, 25%);
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    font-size: 13px;
    text-transform: uppercase;
}

#main {
    margin: 50px 0;
    min-height: 50vh;
}

#login {
    text-align: center;
}
